# IntelliJ files
.idea/
*.ipr
*.iws
*.iml

# Eclipse files
.classpath
.project

# Build outputs
target/
.*dependency-reduced-pom.xml

# OS hidden files
.DS_Store
*dependency-reduced-pom.xml

# Site Files
_site
.sass-cache