version: '3.9'

networks:
  emodb:
    driver: bridge

services:
  zookeeper:
    image: 'zookeeper:3.5.9'
    networks:
      - emodb
    ports:
      - '2181:2181'
    volumes:
      - 'zookeeper_data:/var/lib/zookeeeper/data'
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    healthcheck:
      test: [ "CMD-SHELL", "echo ruok | nc 127.0.0.1 2181 || exit 1" ]
      interval: 10s

  cassandra-dc1:
    image: '${CASSANDRA_IMAGE}:${CASSANDRA_TAG}'
    networks:
      - emodb
    environment:
      - CASSANDRA_DC=datacenter1
    ports:
      - '7000:7000'
      - '7001:7001'
      - '7199:7199'
      - '9042:9042'
      - '9160:9160'
      - '9164:9164'
    volumes:
      - 'cassandra-dc1_data:/var/lib/cassandra/data'
    healthcheck:
      test: [ "CMD", "cqlsh", "-e", "describe keyspaces" ]
      interval: 5s
      timeout: 5s
      retries: 60

  kafka:
    image: 'confluentinc/cp-kafka:6.2.0'
    networks:
      - emodb
    ports:
      - '9092:9092'
    volumes:
      - 'kafka_data:/var/lib/kafka/data'
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
    depends_on:
      - zookeeper

  emodb-web-dc1:
    image: '${EMODB_WEB_IMAGE}:latest'
    restart: always

    networks:
      - emodb
    environment:
      - APP_ROLE=web
      - DATACENTER=dc1
      - LOCAL_HOST=${EMODB_WEB_DC1_LOCAL_HOST:-}
      - LOCAL_PORT=${EMODB_WEB_DC1_LOCAL_PORT:-8080}
      - LOCAL_ADMIN_PORT=${EMODB_WEB_DC1_LOCAL_PORT:-8081}
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
    ports:
      - '8080:8080'
      - '8081:8081'
    healthcheck:
      interval: 1m
      timeout: 10s
      retries: 3
      test: [ "CMD-SHELL", "curl localhost:8081/ping || exit 1" ]
    depends_on:
      zookeeper:
        condition: service_healthy
      cassandra-dc1:
        condition: service_healthy

  emodb-web-dc2:
    image: '${EMODB_WEB_IMAGE}:latest'
    restart: always
    networks:
      - emodb
    environment:
      - APP_ROLE=web
      - DATACENTER=dc1
      - LOCAL_HOST=${EMODB_WEB_DC2_LOCAL_HOST:-}
      - LOCAL_PORT=${EMODB_WEB_DC2_LOCAL_PORT:-8180}
      - LOCAL_ADMIN_PORT=${EMODB_WEB_DC2_LOCAL_PORT:-8181}
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
    ports:
      - '8180:8180'
      - '8181:8181'
    volumes:
      - '../web-local/target/logs:/app/logs'
    healthcheck:
      interval: 1m
      timeout: 10s
      retries: 3
      test: [ "CMD-SHELL", "curl localhost:8081/ping || exit 1" ]
    depends_on:
      emodb-web-dc1:
        condition: service_healthy

  emodb-stash-dc1:
    image: '${EMODB_WEB_IMAGE}:latest'
    networks:
      - emodb
    environment:
      - APP_ROLE=stash
      - DATACENTER=dc1
      - LOCAL_PORT=8080
      - LOCAL_ADMIN_PORT=8081
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
    ports:
      - '8480:8080'
      - '8481:8081'
    volumes:
      - '../web-local/target/logs:/app/logs'
    healthcheck:
      interval: 1m
      timeout: 10s
      retries: 3
      test:
        [
          "CMD-SHELL",
          "printf \"GET /healthcheck HTTP/1.1

            \ Accept-Encoding: gzip

            Accept: text/html

            Host: localhost


            \" | nc localhost 8081 || exit 1"
        ]
    depends_on:
      emodb-web-dc1:
        condition: service_healthy
      cassandra-dc1:
        condition: service_healthy

  emodb-stash-dc2:
    image: '${EMODB_WEB_IMAGE}:latest'
    networks:
      - emodb
    environment:
      - APP_ROLE=stash
      - DATACENTER=dc1
      - LOCAL_PORT=8080
      - LOCAL_ADMIN_PORT=8081
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
    ports:
      - '8580:8080'
      - '8581:8081'
    volumes:
      - '../web-local/target/logs:/app/logs'
    healthcheck:
      interval: 1m
      timeout: 10s
      retries: 3
      test:
        [
          "CMD-SHELL",
          "printf \"GET /healthcheck HTTP/1.1

            \ Accept-Encoding: gzip

            Accept: text/html

            Host: localhost


            \" | nc localhost 8081 || exit 1"
        ]
    depends_on:
      emodb-stash-dc1:
        condition: service_healthy
      emodb-web-dc1:
        condition: service_healthy

  emodb-megabus-dc1:
    image: '${EMODB_WEB_IMAGE}:latest'
    networks:
      - emodb
    environment:
      - APP_ROLE=megabus
      - DATACENTER=dc1
      - LOCAL_PORT=8080
      - LOCAL_ADMIN_PORT=8081
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
    ports:
      - '8680:8080'
      - '8681:8081'
    volumes:
      - '../web-local/target/logs:/app/logs'
    healthcheck:
      interval: 1m
      timeout: 10s
      retries: 3
      test:
        [
          "CMD-SHELL",
          "printf \"GET /healthcheck HTTP/1.1

            \ Accept-Encoding: gzip

            Accept: text/html

            Host: localhost


            \" | nc localhost 8081 || exit 1"
        ]
    depends_on:
      cassandra-dc1:
        condition: service_healthy
      emodb-web-dc1:
        condition: service_healthy
      kafka:
        condition: service_started

  emodb-megabus-dc2:
    image: '${EMODB_WEB_IMAGE}:latest'
    networks:
      - emodb
    environment:
      - APP_ROLE=megabus
      - DATACENTER=dc1
      - LOCAL_PORT=8080
      - LOCAL_ADMIN_PORT=8081
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
    ports:
      - '8780:8080'
      - '8781:8081'
    volumes:
      - '../web-local/target/logs:/app/logs'
    healthcheck:
      interval: 1m
      timeout: 10s
      retries: 3
      test:
        [
          "CMD-SHELL",
          "printf \"GET /healthcheck HTTP/1.1

            \ Accept-Encoding: gzip

            Accept: text/html

            Host: localhost


            \" | nc localhost 8081 || exit 1"
        ]
    depends_on:
      emodb-web-dc2:
        condition: service_healthy
      emodb-megabus-dc1:
        condition: service_healthy

  set-role:
    image: 'bazaarvoice/set-emo-role:latest'
    build:
      context: .
      dockerfile: set-role-Dockerfile
    networks:
      - emodb
    depends_on:
      emodb-web-dc1:
        condition: service_healthy

volumes:
  zookeeper_data:
    driver: local
  cassandra-dc1_data:
    driver: local
  kafka_data:
    driver: local
